<p id="notice"><%= notice %></p>

<h1>Listing Social Posts</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @social_posts.each do |social_post| %>
      <tr>
        <td><%= link_to 'Show', social_post %></td>
        <td><%= link_to 'Edit', edit_social_post_path(social_post) %></td>
        <td><%= link_to 'Destroy', social_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Social post', new_social_post_path %>
